@media only screen and (min-width: 48em) {

  button {
    font-size: var(--large-font);
  }

  header {
    font-size: var(--large-font);
  }
  
  .left-side {
    grid-column: 1/2;
    grid-row: 1;
  }

  #left-controls {
    margin: 5px auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
  }
  
  #main-game {
    grid-template-columns: 8rem 34rem 8rem;
    grid-template-rows: auto;
  }
  .modal {
    width: 100%;
  }
  
  .modal-content {
    margin: 5% auto 15% auto;
    width: 70%;
  }

  picture img {
    height: 10rem;
  }

  .puzzle {
    grid-column: 2/3;
    grid-row: 1;
    margin-left: 0;
  }

  .puzzle button {
    width: 2.1em;
    padding: 9px;
    border-radius: 50%;
  }

  .right-side {
    grid-column: 3/4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: auto;   
  }

  .puzzle-board {
    width: 15rem;
    min-width: 35rem;
  }

  .puzzle-board input {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

  #saved-games {
    font-size: var(--large-font);
  }
}
