@media only screen and (min-width: 50em) {

  #main-game {
    grid-template-columns: 8rem 34rem 8rem;
  }

  picture img {
    height: 12rem;
  }

  .puzzle button {
    width: 2.4em;
    padding: 10px;
    border-radius: 50%;
  }

  .puzzle-board {
    width: 15rem;
    min-width: 35rem;
  }

  .puzzle-board input {
    width: 60px;
    height: 60px;
  }
}
