:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: blue;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  border-spacing: 0;
}

button {
  background-color: var(--secondary-color);
  color: white;
  width: 5em;
  margin: 5px;
  padding: 7px;
  font-size: var(--large-font);
  border: 0;
  border-radius: 5px;
}

footer p {
  padding: 0.5rem;
  margin: 0.5rem auto;
  font-size: var(--font-base);
}

footer,
header {
  background-color: var(--tertiary-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px auto;
}

header {
  font-size: var(--large-font);
}

.left-buttons {
  display: flex;
}

.puzzle {
  position: relative;
  width: 50%;
  left: 50%;
  margin-left: -17rem;
  min-width: 34rem;
}

.puzzle-board {
  width: 15rem;
  min-width: 35rem;
}

.puzzle-board input {
  text-align: center;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border: 1px #808080 solid;
}

.puzzle-board input::-webkit-outer-spin-button,
.puzzle-board input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

.odd-section {
  background: #d3d3d3;
}

#alert-list {
  position: sticky;
  top: 0px;
}
#alert-list section {
  margin: 1px;
  display: grid;
  grid-template-columns: 95% 5%;
}

#alert-list section p {
  /* align-items: center; */
  padding-left: 5px;
  margin: 0;
  font-size: 1.5rem;
  height: 2rem;
  background-color: orange;
  color: #000;
}

.alert-button {
  background-color: orange;
  color: #000;
  border: none;
  font-size: 25px;
}

.square-in-error {
  background-color: green;
  color: white;
}
